$font-Oswald: 'Oswald', sans-serif;
$font-Lato: 'Lato', sans-serif;
$font-Raleway: 'Raleway', sans-serif;
$font-Nunito: 'Nunito', sans-serif;
$font-NunitoSan: 'Nunito Sans', sans-serif;
$darkBlue: #123E84;
$Orange: #dc493a;
$black: #656566;
$lightBlue: #1768ac;
$lighterBlue: #2682CF;
