.btn{
  background-color: $lightBlue;
  color: #fff;
  padding: .55rem .5rem;
  text-transform: uppercase;
  font-family: $font-Raleway;
  transition: 0.3s;
  border: none;

  &:hover{
    background-color: $lighterBlue;
    color: #fff;
  }

  &--contact{
    margin-top: 1.375rem;
  }

}
