/* position dots in carousel */
/* .flickity-page-dots {
  bottom: 0px;
} */
/* white circles */
/* .flickity-page-dots .dot {
  width: 15px;
  height: 15px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
} */
/* fill-in selected dot */
/* .flickity-page-dots .dot.is-selected {
  background: $lighterBlue;
} */
