.headline{
  color: $lightBlue;
  font-family: $font-Raleway;
  font-size: 1.85rem;

  @mixin atSmall{
    font-size: 2rem;
  }

  &__center{
    text-align: center;
  }

  &__welcome{
    font-size: 2.5rem;

    @mixin atSmall{
      font-size: 3.5rem;
    }
  }
}
