.hero{
    position: relative;

  &__text-content{
    position: absolute;
    top: 40%; /*vertical alignment*/
    transform: translateY(-40%); /*vertical alignment*/
    left: -5%;
    width: 100%; /*horizontal alignment*/
    text-align: center; /*horizontal alignment*/
    color: #fff;
    font-family: $font-Oswald;
    font-weight: bold;
    font-size: 3.125rem;
    text-transform: uppercase;

    @mixin atSmall{
      top: 42%;
      left: 2;
      font-size: 3.75rem;
    }

    @mixin atMedium{
      top: 43%; /*vertical alignment*/
      left: -9%;
      transform: translateY(-43%); /*vertical alignment*/
      font-size: 4.5625rem;
    }

    @mixin atLarge{
      top: 30%; /*vertical alignment*/
      left: 8%;
      transform: translateY(-10%); /*vertical alignment*/
      font-size: 9rem;
    }
  }


}
