.modal {
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255,255,255, .94);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all .3s ease-out;

  &--is-visible{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__tab-nav{
    text-align: center;
  }

  &__tab-nav li{
    display: inline-block;
    font-family: $font-Raleway;
    font-size: 23px;
    font-weight: 300;
    margin-right: 50px;
  }

  &__tab-nav a{
    color:#060606;
    transition: .3s;
  }

  & a.current{
    color: $lighterBlue;
  }

  & a:hover{
    color: $lighterBlue;
  }


  &__heading{
    font-family: $font-Raleway;
    font-weight: 300;
    color: #060606;
    text-align: center;

    &--signup{
      font-size: 20px;
    }
  }

  &__description{
    font-family: $font-Raleway;
    font-weight: 300;
    color: #060606;
    line-height: 1.75;
  }

  &__password{
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
  }

  & form{
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 45px;

    @mixin atSmall{
      margin-top: 20px;
    }
  }

  &__form-input{
    display: block;
    font-family: $font-Raleway;
    width: 100%;
    margin-bottom: 33px;
    padding: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #D5D5D5;
    outline: none;
    background: transparent;

    &--signup{
      margin-bottom: 18px;
    }
  }

  &__form-btn{
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 33px;
    border: none;
    font-family: $font-Raleway;
    text-transform: uppercase;
    background-color: $lighterBlue;
    color:#fff;
    transition: .3s;

    @mixin atSmall{
      display: inline;
      width: 20%;
    }

    &--green{
      background-color: #3DCF37;
    }
  }

  &__form-btn:hover{
    background-color: $lightBlue;
  }

  &__form-btn--green:hover{
      background-color: #1AA115;
  }

  &__username-password{
    font-family: $font-Raleway;
    font-size: 13px;
    text-align: center;
    transition: .3s;

    @mixin atSmall{
      margin-left: 160px;
    }

    @mixin atMedium{
      margin-left: 290px;
    }
  }

  &__username-password:hover{
    color:$Orange;
  }

  &__close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    color: $lighterBlue;
    cursor: pointer;

    &:hover{
      color:$Orange;
    }
  }

}
