.primary-nav{
  display: none;

  @mixin atLarge{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  & li{
    margin-left: 2.0625rem;
  }

  & a:hover{
    border-bottom: 1px solid $lightBlue;
  }

  &__current{
    border-bottom: 1px solid $lightBlue;
  }
}
