.site-header {
  color: #4F4F4F;
  padding: 1em 0;
  position: relative;
  border-bottom: 0.0625rem solid #E4E4E4;

  &::after {
    content: '';
    clear: both;
    display: block;
  }


  &__logo{
    float: left;
    font-size: 1rem;
    margin: 0;
    font-family: $font-Raleway;
    text-transform: uppercase;


    @mixin atMedium{
      font-size: 1.3rem;
      margin-top: 0.4375rem;

    }
  }


}
