    .icon{
      background-image: url('/assets/images/sprites/sprite-896a88b0.svg');
    }

  .icon--car {
    width: 66.75px;
    height: 66.75px;
    background-position: 0 55.89559543230016%;
  }

  .icon--cruise {
    width: 66.75px;
    height: 66.75px;
    background-position: 70.16132596685082% 43.556280587275694%;
  }

  .icon--expedia {
    width: 91.99px;
    height: 26px;
    background-position: 0 9.278350515463918%;
  }

  .icon--facebook {
    width: 26.7px;
    height: 26.7px;
    background-position: 94.70146451370634% 34.53181583031557%;
  }

  .icon--flight {
    width: 66.75px;
    height: 65.75px;
    background-position: 40.658563535911604% 0;
  }

  .icon--instagram {
    width: 26.7px;
    height: 26.7px;
    background-position: 84.6751783702591% 34.53181583031557%;
  }

  .icon--love {
    width: 66.75px;
    height: 66.75px;
    background-position: 29.502762430939228% 55.89559543230016%;
  }

  .icon--map {
    width: 66.75px;
    height: 66.75px;
    background-position: 70.16132596685082% 0;
  }

  .icon--orbitz {
    width: 91.99px;
    height: 18px;
    background-position: 0 0;
  }

  .icon--plane-ticket {
    width: 66.75px;
    height: 66.75px;
    background-position: 0 99.45187601957586%;
  }

  .icon--support {
    width: 66.75px;
    height: 66.75px;
    background-position: 29.502762430939228% 99.45187601957586%;
  }

  .icon--ticket {
    width: 66.75px;
    height: 66.75px;
    background-position: 59.005524861878456% 99.45187601957586%;
  }

  .icon--travelocity {
    width: 91.99px;
    height: 27.66px;
    background-position: 0 30.154933971092856%;
  }

  .icon--tripadvisor {
    width: 91.99px;
    height: 14px;
    background-position: 0 21.359223300970875%;
  }

  .icon--twitter {
    width: 26.7px;
    height: 26.7px;
    background-position: 84.6751783702591% 48.3445421624418%;
  }

  .icon--villa {
    width: 66.75px;
    height: 66.75px;
    background-position: 99.66408839779005% 0;
  }
