    .icon{
      background-image: url('/assets/images/sprites/sprite-061ee318.svg');
    }

  .icon--address {
    width: 27.6px;
    height: 27.6px;
    background-position: 35.550113036925396% 33.27894327894328%;
  }

  .icon--car {
    width: 66.75px;
    height: 66.75px;
    background-position: 29.502762430939228% 69.37457044673539%;
  }

  .icon--cruise {
    width: 66.75px;
    height: 66.75px;
    background-position: 59.005524861878456% 69.37457044673539%;
  }

  .icon--expedia {
    width: 91.99px;
    height: 26px;
    background-position: 0 0;
  }

  .icon--facebook {
    width: 66.75px;
    height: 66.75px;
    background-position: 29.502762430939228% 99.95876288659794%;
  }

  .icon--flight {
    width: 66.75px;
    height: 65.75px;
    background-position: 0 39.06955530216648%;
  }

  .icon--instagram {
    width: 66.75px;
    height: 66.75px;
    background-position: 70.16132596685082% 0;
  }

  .icon--love {
    width: 66.75px;
    height: 66.75px;
    background-position: 70.16132596685082% 30.584192439862544%;
  }

  .icon--mail {
    width: 27.6px;
    height: 27.6px;
    background-position: 25.15071590052751% 33.27894327894328%;
  }

  .icon--map {
    width: 66.75px;
    height: 66.75px;
    background-position: 40.658563535911604% 0;
  }

  .icon--orbitz {
    width: 91.99px;
    height: 18px;
    background-position: 0 9.737827715355806%;
  }

  .icon--plane-ticket {
    width: 66.75px;
    height: 66.75px;
    background-position: 99.66408839779005% 0;
  }

  .icon--support {
    width: 66.75px;
    height: 66.75px;
    background-position: 99.66408839779005% 30.584192439862544%;
  }

  .icon--ticket {
    width: 66.75px;
    height: 66.75px;
    background-position: 99.66408839779005% 61.16838487972509%;
  }

  .icon--travelocity {
    width: 91.99px;
    height: 27.66px;
    background-position: 0 17.098002642418592%;
  }

  .icon--tripadvisor {
    width: 91.99px;
    height: 14px;
    background-position: 0 26.44280442804428%;
  }

  .icon--twitter {
    width: 66.75px;
    height: 66.75px;
    background-position: 0 69.37457044673539%;
  }

  .icon--villa {
    width: 66.75px;
    height: 66.75px;
    background-position: 0 99.95876288659794%;
  }
